.git
.idea
.libs
autom4te.cache
config.cache
config.h
config.log
config.nice
config.status
configure
libtool
Makefile
Makefile.fragments
Makefile.objects
modules
run-tests.php
tests/*.diff
tests/*.exp
tests/*.log
tests/*.out
tests/*.php
tmp-php.ini
benchmark/results
*.lo
*.o
*.so
*.dep
